.btn_back_div {
  border-radius: 5px;
  width: fit-content;

  max-width: fit-content;

  background-color: rgb(4, 79, 48);
}
.button {
  border: 1px solid rgb(4, 79, 48);
  background: white;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
}
/* .button:hover{
  background-color: rgb(218, 255, 224);
  border-color: rgb(218, 255, 224);
  color: rgb(4, 79, 48);
} */

